{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文件管理{% endblock %}
{% block nav_file_active %}active{% endblock %}
{% block body %}
    <div class="containter">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">文件批量导入或删除</div>
                    {% if files %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>文件名称</td>
                                <td>上传时间</td>
                                <td>动作</td>
                            </tr>
                            {% for file in files %}
                                <tr>
                                    <td>{{ file.file.url }}</td>
                                    <td>{{ file.time }}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#importModal"><span class="glyphicon glyphicon-import">导入</span></button>&nbsp;
                                        <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove">删除</span></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            暂无上传文件
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">填写下列参数</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}